<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Renta Araç Kiralama</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
  <header style="min-height:200%">

    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <picture>
              <img style="width:100%;height: 475px;background:url({{url_for('static',filename='images/araclar3.png')}}) no-repeat center center;background-size: cover;" class="d-block img-fluid">
            </picture>
            <div class="carousel-caption">
              <!-- -->
            </div>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
            <picture>
              <img style="width:100%;height: 475px;background:url({{url_for('static',filename='images/araclar2.jpg')}}) no-repeat center top;background-size: cover;" class="d-block img-fluid">
            </picture>
            <div class="carousel-caption justify-content-center align-items-center">
              <!-- -->
            </div>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
            <picture>
              <img style="width:100%;height: 475px;background:url({{url_for('static',filename='images/araclar1.jpg')}}) no-repeat center center;background-size: cover;" class="d-block img-fluid">
            </picture>
            <div class="carousel-caption justify-content-center align-items-center">
              <div>
                <!---->
              </div>
            </div>
        </div>
        <!-- /.carousel-item -->
      </div>
    </div>
    <!-- /.carousel -->

    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse row navbar-collapse" id="navbarTogglerDemo03">
        <div class="col-md-5">
          <a class="navbar-brand" href="{{url_for('homepage')}}">Anasayfa</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('arac_listele')}}">Araç Kirala<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('islemler')}}">İşlemlerim</a>
            </li>
            <li>
              <a class="nav-link" href="{{url_for('admin_page')}}">Admin Sayfası<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <form class="form-inline" style="margin-right:0px;">
            <input class="form-control" type="search" placeholder="Arama Yap" aria-label="Search">
            <button style="margin-left:10px;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Ara</button>
          </form>
        </div>
        <div class="col-md-3">
          <a class="nav-link" href="#">{{session.username}}</a>
          <a class="nav-link" href="{{url_for('logout')}}">Çıkış Yap</a>
        </div>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div style="z-index: 9999;position:fixed;top:50px;width:90%; text-align: center;margin-top: 20px; margin-left:5%;margin-right:5%;" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <h3>{{error}}</h3>
  <div class="content container" style="margin-top:-8px;background-color:white;min-height:100vh;">
    <br><br><br><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <a href="{{url_for('uye_islemler')}}">
          <button type="button" style="color:white; font-size:25px;" class="btn btn-warning">Üyeleri Görüntüle</button>
        </a>
      </div>
      <div class="col-md-3">
        <a href="{{url_for('arac_ekle')}}"><button type="button" style="color:white; font-size:25px;" class="btn btn-success">Yeni Araç Ekle</button></a>
      </div>
      <div class="col-md-2">
        <a href="{{url_for('arac_duzenle')}}"><button type="button" style="color:white; font-size:25px;" class="btn btn-info">Araçları Görüntüle</button></a>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br><br><br>


  </div>
  <footer>

  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
