<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Renta Araç Kiralama</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
  <header style="min-height:200%">

    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <picture>
              <img style="width:100%;height: 475px;background:url({{url_for('static',filename='images/araclar3.png')}}) no-repeat center center;background-size: cover;" class="d-block img-fluid">
            </picture>
            <div class="carousel-caption">
              <!-- -->
            </div>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
            <picture>
              <img style="width:100%;height: 475px;background:url({{url_for('static',filename='images/araclar2.jpg')}}) no-repeat center top;background-size: cover;" class="d-block img-fluid">
            </picture>
            <div class="carousel-caption justify-content-center align-items-center">
              <!-- -->
            </div>
        </div>
        <!-- /.carousel-item -->
        <div class="carousel-item">
            <picture>
              <img style="width:100%;height: 475px;background:url({{url_for('static',filename='images/araclar1.jpg')}}) no-repeat center center;background-size: cover;" class="d-block img-fluid">
            </picture>
            <div class="carousel-caption justify-content-center align-items-center">
              <div>
                <!---->
              </div>
            </div>
        </div>
        <!-- /.carousel-item -->
      </div>
    </div>
    <!-- /.carousel -->

    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse row navbar-collapse" id="navbarTogglerDemo03">
        {%if session.admin %}
        <div class="col-md-5">
          <a class="navbar-brand" href="{{url_for('homepage')}}">Anasayfa</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('arac_listele')}}">Araç Kirala<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('islemler')}}">İşlemlerim</a>
            </li>
            <li>
              <a class="nav-link" href="{{url_for('admin_page')}}">Admin Sayfası<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <form class="form-inline" style="margin-right:0px;">
            <input class="form-control" type="search" placeholder="Arama Yap" aria-label="Search">
            <button style="margin-left:10px;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Ara</button>
          </form>
        </div>
        <div class="col-md-3">
          <a class="nav-link" href="#">{{session.username}}</a>
          <a class="nav-link" href="{{url_for('logout')}}">Çıkış Yap</a>
        </div>
        {% else %}
        <div class="col-md-5">
          <a class="navbar-brand" href="{{url_for('homepage')}}">Anasayfa</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('arac_listele')}}">Araç Kirala<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('islemler')}}">İşlemlerim</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <form class="form-inline" style="margin-right:0px;">
            <input class="form-control" type="search" placeholder="Arama Yap" aria-label="Search">
            <button style="margin-left:10px;" class="btn btn-outline-info my-2 my-sm-0" type="submit">Ara</button>
          </form>
        </div>
        <div class="col-md-3">
          <a class="nav-link" href="#">{{session.username}}</a>
          <a class="nav-link" href="{{url_for('logout')}}">Çıkış Yap</a>
        </div>
        {% endif %}
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div style="z-index: 9999;position:fixed;top:50px;width:90%; text-align: center;margin-top: 20px; margin-left:5%;margin-right:5%;" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <h3>{{error}}</h3>
  <div class="content container" style="margin-top: -8px;background-color:white;min-height:50vh;">
    <br>
    {%if flag%}
    <div class="row">
      <div class="col"></div>
      <h3>
        <div class="col">Marka: {{row[2]}}</div>
      </h3>
      <div class="col"></div>
      <h3>
        <div class="col">Stok: {{row[4]}}</div>
      </h3>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col"></div>
      <h3>
        <div class="col">Model: {{row[1]}}</div>
      </h3>
      <div class="col"></div>
      <h3>
        <div class="col">Model Yıl: {{row[2]}}</div>
      </h3>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <h3>
        <div class="col">Tutar: {{tutar}}₺</div>
      </h3>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <h3>
        <form action="{{url_for('onay',id=row[0],tutar=tutar,gun=gun)}}">
        <div class="col"><input class="btn btn-success" type="submit" name="" value="Kirala"></div>
        </form>
      </h3>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <h3>
        <div class="col"><a class="btn btn-danger" href="{{url_for('arac_listele')}}" role="button">Geri Dön</a></div>
      </h3>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    {% else %}
    <form action="{{url_for('arac_kirala',id=row[0])}}" , method="POST">
      <h5>Fiyatı belirlemek için lütfe aşağıdaki soruları yanıtlayınız.</h5>
      <br>
      <div class="row">
        <h4>
          <div class="col">Aracı kaç gün kiralayacaksınız?</div>
        </h4>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        &nbsp&nbsp<div class="col"><input type="number" name="gun" value=""></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col"><input type="submit" name="" value="Sorgula"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </form>
    {% endif %}
  </div>
  <footer>

  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
